* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #565fae;
    background-image: url('img/back_ptn.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  header {
    background-color: rgb(181, 178, 252);
    color: #fff;
    padding: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 8);
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
  a.my-link {
    text-decoration: none;
  }
  
  .flex-right {
    display: flex;
    align-items: center;
  }
  
  .flex-right img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    color: #f4f2f2;
    text-decoration: none;
    padding: 10px;
  }
  
  li a:hover {
    background-color: #565fae;
    width: 120%;
    border-radius: 50px;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  .main-container{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  #last-main-container{
    margin-bottom: 85px;
  }
  section {
    margin-bottom: 20px;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  footer {
    background-color: #242222;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 8);
  }

  .butt {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:linear-gradient(to bottom, #8899eb 5%, #2d53a7 100%);
    background-color:#3a0f98;
    border-radius:11px;
    border:2px solid #2c271f;
    display:inline-block;
    cursor:pointer;
    color:#160866;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:8px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1a114c;
  }
  .butt:hover {
    background:linear-gradient(to bottom, #4f4f54 5%, #e3e3ec 100%);
    background-color:#666360;
  }
  .butt:active {
    position:relative;
    top:1px;
  }
  @media screen and (max-width: 600px) {
    header {
      padding: 20px;
      font-size: 14px;
      text-align: center;
    }
  
    footer {
      padding: 5px;
      font-size: 14px;
      text-align: center;
    }
  }
  